{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="h3 text-success text-center">{{ title }}</div>
    <div class="text-center">
        <form action="" method="post">{% csrf_token %}
            <input type="email" placeholder="email" name="{{ form.email.html_name }}">
            <input type="text" placeholder="your name" name="{{ form.username.html_name }}">
            <input type="text" placeholder="subject" name="{{ form.title.html_name }}">
            <textarea name="{{ form.text.html_name }}" id="" cols="60" rows="5"
                      placeholder="Your message"></textarea>
            {% if categs %}
                <div class="">
                    <select name="{{ form.category.html_name }}" id="">
                        {% for category in categs %}
                            <option value="{{ category.title }}">{{ category.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            <input type="submit" name="submit" value="Send">
        </form>
    </div>
{% endblock %}