{% extends "main/main.html" %}
{% load i18n %}
{% get_available_languages as languages %}
{% block title %}{% trans "The best stories - Web Zoomer" %}{% endblock %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert
                {% if message.tags == 'error' %} alert-danger
                {% elif message.tags == 'warning' %} alert-warning
                {% elif message.tags == 'info' %} alert-info
                {% elif message.tags == 'success' %} alert-success
                {% endif %}
                alert-dismissible" role="alert">
                    <button type="button" class="close cursor-pointer"
                            data-dismiss="alert"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        </ul>
    {% endif %}
    {% if articles %}
        <div class="row">
            {% for article in articles %}
                <div class="col-xs-12 col-sm-6">
                    <div class="article-item h-250">
                        <a href="{% url "blog:article" article.slug %}">
                            <div class="image-front"
                                 style="background-image: url('{{ article.image.image.url }}')"></div>
                            <h2 class="h5 text-center pt-10"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="{{ article.description|truncatechars_html:110 }}"
                            >{{ article.title }}</h2>
                        </a>
                        <div class="article-footer">
                            <div class="bookmark-article"
                                 data-toggle="tooltip"
                                 data-placement="top"
                                 title="{% trans "Bookmark this story" %}">
                                <i class="fa fa-bookmark-o"
                                   aria-hidden="true"></i>
                            </div>
                            <div class="btn-group dropup">
                            <span class="user-link dropdown-toggle"
                                  data-toggle="dropdown"
                                  aria-haspopup="true" aria-expanded="false">
                            <img src="{{ article.author.avatar }}" alt=""
                                 class="rounded-circle user-photo">
                            <span>{{ article.author.get_full_name }}</span>
                            </span>
                                <div class="dropdown-menu p-20 user-card">
                                    <a href="{% url 'users:profile' article.author.id %}"
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       title="{% trans "The Author's profile" %}">
                                        <img src="{{ article.author.avatar }}"
                                             alt="{{ article.author.get_full_name }}"
                                             class="rounded-circle user-photo">
                                        <span class="h6">{{ article.author.get_full_name }}</span>
                                    </a>
                                    <hr>
                                    <div class="rating">{% trans "raiting" %}: 0</div>

                                    <div>{% trans "published stories" %}: {{ article.count_published_articles_by_author }}</div>
                                    <a href="{% url 'blog:author_articles' article.author.id %}" class="">{% trans "author's stories" %}</a>
                                    <div class="user-card-footer">
                                        <span class="read-author"
                                              data-toggle="tooltip"
                                              data-placement="top"
                                              title="{% trans "Read this Author" %}">
                                            <i class="fa fa-book" aria-hidden="true"></i>
                                        </span>
                                        <div class="pt-10">readers: 0</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}