{% extends "base.html" %}

{# language mod #}
{% load i18n %}
{% get_available_languages as languages %}

{% block title %}{{ category.title }}{% endblock %}

{% block content %}
    <h1 class="h3 text-success text-center">{{ category.title }}</h1>
    {% for article in articles %}
    <h2 class="h4 text-color-grey"><a href="{% url 'article' article.id %}">{{ article.title }}</a></h2>
    <a href="{% url 'article' article.id %}">
        <img class="img-rounded img-text-left img-article-preview" src="/media/{{ article.image.image }}" alt="{{ article.image }}">
    </a>
    <p class="text-color-grey">{{ article.description|safe|escape }}</p>
    <div class="col-md-12 top-line p-10 text-color-grey">
        <div class="inline">
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
            <span>{{ article.date }}</span> |
        </div>
        <div class="inline">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span>{{ article.author }}</span> |
        </div>
        <div class="inline">
            <i class="fa fa-binoculars" aria-hidden="true"></i>
            <span>{{ article.views }}</span> |
        </div>
        <div class="inline" id="block-share">
            <div class="share-container thumbnail text-center" id="share-container">
                <div class="share-item inline">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </div>
                <div class="share-item inline">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </div>
                <div class="share-item inline">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </div>
                <div class="share-item inline">
                    <i class="fa fa-vk" aria-hidden="true"></i>
                </div>
                <div class="share-item inline">
                    <i class="fa fa-odnoklassniki" aria-hidden="true"></i>
                </div>
                <div class="share-item inline">
                    <i class="fa fa-tumblr" aria-hidden="true"></i>
                </div>
                <div class="share-item inline">
                    <i class="fa fa-telegram" aria-hidden="true"></i>
                </div>
            </div>
            <i class="fa fa-share-alt" aria-hidden="true" id="share-parent"></i>
        </div>
    </div>
    {% endfor %}
{% endblock %}
