{% extends "blog/main.html" %}

{% load i18n %}
{% get_available_languages as languages %}

{% block title %}{% trans "write a story" %}{% endblock %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert
                {% if message.tags == 'error' %} alert-danger
                {% elif message.tags == 'warning' %} alert-warning
                {% elif message.tags == 'info' %} alert-info
                {% elif message.tags == 'success' %} alert-success
                {% endif %}
                alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="form-article-container">
        {% if 'image' not in request.session and 'article_id' not in request.session %}
            {{ image_form.non_field_errors }}
            {{ image_form.errors }}
            <div id="upload-image-box">
                <form enctype="multipart/form-data"
                      action="{% url 'blog:create_article' %}" method="post">
                    {% csrf_token %}
                    <div class="fileinput fileinput-new text-center pl-40 pr-40"
                         data-provides="fileinput">
                        <div class="fileinput-new thumbnail">
                            <img src="/static/img/no_image.png"
                                 alt="{% trans "not selected an image" %}">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail text-center"
                             style="max-width: 600px; max-height: 450px;">
                        </div>
                        <div>
                        <span class="btn btn-default btn-file">
                            <span class="fileinput-new">{% trans "Select an image" %}</span>
                            <span class="fileinput-exists">{% trans "Change" %}</span>
                            <input type="file"
                                   name="{{ image_form.image.html_name }}">
                        </span>
                            <a href="#"
                               class="btn btn-default fileinput-exists"
                               data-dismiss="fileinput">{% trans "Remove" %}</a>
                        </div>
                    </div>


                    <div class="col-12">
                        <input type="submit" name="upload_image"
                               class="btn btn-success btn-hundred cursor-pointer"
                               value="{% trans "next" %}">
                    </div>
                </form>
            </div>
        {% elif 'image' in request.session and 'article_id' not in request.session %}
            {{ form.non_field_errors }}
            {{ form.errors }}
            <div class="create-article-form">
                <form action="{% url 'blog:create_article' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.language.id_for_label }}">{% trans "Language" %}<span class="red">*</span></label>
                        <select class="form-control"
                                id="{{ form.language.id_for_label }}"
                                name="{{ form.language.name }}">
                            {% for item in form.language %}
                                <option value="no" selected disabled
                                        hidden>{% trans "choose a story language" %}</option>
                                {{ item }}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.title.id_for_label }}">{% trans "Title" %}<span class="red">*</span></label>
                        <input type="text" class="form-control"
                               id="{{ form.title.id_for_label }}"
                               placeholder="{% trans "Title" %}"
                               name="{{ form.title.name }}"
                               {% if form.title.value %}value="{{ form.title.value }}"{% endif %}
                        >
                    </div>
                    <div class="form-group">
                        <label for="{{ form.description.id_for_label }}">{% trans "Description" %}<span class="red">*</span></label>
                        <textarea class="form-control"
                                  id="{{ form.description.id_for_label }}"
                                  rows="3"
                                  placeholder="{% trans "Description" %}"
                                  name="{{ form.description.name }}"
                        >{% if form.description.value %}
                            {{ form.description.value }}{% endif %}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.text.id_for_label }}">{% trans "A story text" %}<span class="red">*</span></label>
                        <textarea class="form-control"
                                  id="{{ form.text.id_for_label }}"
                                  rows="10"
                                  placeholder="{% trans "A story text" %}"
                                  name="{{ form.text.name }}"
                        >{% if form.text.value %}
                            {{ form.text.value }}{% endif %}</textarea>

                    </div>
                    <div class="form-group upload-image-container">
                        <img src="/media/{{ request.session.image }}" alt="">
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <button type="submit" name="create"
                                    class="btn btn-success btn-hundred cursor-pointer">
                                {% trans "next" %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        {% elif 'image' in request.session and 'article_id' in request.session %}
            <div class="add-tags-form">
                <form action="{% url 'blog:create_article' %}" method="post">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="tag_id">{% trans "Tags" %}<span class="red">*</span></label>
                        <input type="text" class="form-control"
                               id="tag_id"
                               placeholder="{% trans "Tags" %}"
                               name="tags"
                               {% if tags %}value="{{ tags }}"{% endif %}>
                    </div>
                    {% if temp_article %}
                    <div class="form-group">
                        <h1 class="h3 text-center">{{ temp_article.title }}</h1>
                        <img src="/media/{{ request.session.image }}" alt="">
                        <p>{{ temp_article.text }}</p>
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <button name="finish" class="btn btn-success
                btn-hundred cursor-pointer">{% trans "finish" %}</button>
                    </div>

                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
    corporis delectus dolorem doloremque doloribus ea eaque eos error, et
    eveniet ipsam nam provident quisquam sint suscipit tempora tenetur velit
    voluptas!
</div>
<div>Ab accusamus culpa, debitis delectus eaque eligendi eos error, eum illo
    illum ipsam magni odio porro quae quibusdam, ratione sapiente soluta
    temporibus ullam voluptates. Consequatur eligendi eveniet iure optio saepe?
</div>
<div>Assumenda, blanditiis doloribus eaque explicabo id impedit iusto maiores
    molestias nesciunt saepe. At quibusdam sit voluptates voluptatum. Autem cum
    fugit illum nulla quisquam reiciendis sapiente, sunt voluptas voluptatem.
    Quas, temporibus?
</div>
<div>Aut consequatur culpa debitis dicta eligendi exercitationem, facere nemo
    optio quod quos ratione repudiandae tempora. Aspernatur laudantium maxime
    odio odit porro sapiente similique temporibus voluptatum. Ad cupiditate
    distinctio expedita temporibus?
</div>
<div>Ab accusamus aliquid animi architecto blanditiis commodi ea eius incidunt
    ipsum iure laboriosam nulla possimus provident quae, quis quisquam
    recusandae repellendus sapiente sed soluta suscipit temporibus totam?
    Impedit itaque, minus?
</div>
<div>Accusantium atque, commodi cum est inventore maxime reprehenderit sunt.
    Consequatur deserunt dolore exercitationem expedita, inventore non
    perspiciatis quas rem sit totam? Dignissimos distinctio dolorem esse ipsa
    ipsam nam quae tempore!
</div>
<div>A, accusamus ad adipisci aperiam atque culpa cupiditate deleniti dicta
    distinctio dolore dolorem ducimus eveniet facere ipsam ipsum iure
    laboriosam natus nemo nobis non praesentium quo suscipit tenetur voluptas
    voluptatem.
</div>
<div>Aliquam animi cum cupiditate dolorem eligendi expedita illo ipsam ipsum,
    itaque laboriosam maiores nobis officiis praesentium quae quasi quidem
    repellat rerum sed tempore unde vel vitae voluptas, voluptate. Deserunt,
    illum.
</div>