{% extends "blog/main.html" %}

{% load i18n %}
{% get_available_languages as languages %}

{% block title %}{% trans "write a story" %}{% endblock %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert
                {% if message.tags == 'error' %} alert-danger
                {% elif message.tags == 'warning' %} alert-warning
                {% elif message.tags == 'info' %} alert-info
                {% elif message.tags == 'success' %} alert-success
                {% endif %}
                alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="form-article-container">
        {{ form.non_field_errors }}
        {{ img_form.non_field_errors }}
        {{ form.errors }}
        {{ img_form.errors }}
        <form enctype="multipart/form-data"
              action="{% url 'blog:edit_article' article.slug %}"
              method="post">
            {% csrf_token %}

            <div class="fileinput fileinput-new text-center pl-40 pr-40"
                         data-provides="fileinput">
                <div class="fileinput-new thumbnail">
                    <img src="{{ image.url }}"
                         alt="{{ form.title.value }}">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail"
                     style="max-width: 600px; max-height: 450px;">
                </div>
                <div>
                <span class="btn btn-default btn-file">
                    <span class="fileinput-new">{% trans "Select an image" %}</span>
                    <span class="fileinput-exists">{% trans "Change" %}</span>
                    <input type="file" id="img-field"
                           name="{{ img_form.image.name }}">
                </span>
                    <a href="#"
                       class="btn btn-default fileinput-exists"
                       data-dismiss="fileinput">{% trans "Remove" %}</a>
                </div>
            </div>


            <div class="form-group">
                <button class="btn btn-success btn-hundred hide
                cursor-pointer" id="img-btn" name="upload_image"
                        type="submit">{% trans "save" %}</button>
            </div>
        </form>
        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="tag_id">{% trans "Tags" %}<span
                        class="red">*</span></label>
                {% if article.tags is not None %}
                    <div class="form-group">
                        <div id="tags-container">
                            {% for tag in tags %}
                                <div class="tag-container inline">{{ tag }}
                                    <i class="fa fa-times cursor-pointer close-button delete-tag"
                                       aria-hidden="true"
                                       data-tag-id="{{ tag.id }}"
                                       data-csrf="{{ csrf_token }}"
                                    ></i>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                {% endif %}
                <input type="text" class="form-control"
                       id="tag_id" name="tags"
                       placeholder="{% trans "Tags" %}">
            </div>
            <div class="form-group">
                <input type="submit"
                       class="btn btn-success btn-hundred cursor-pointer"
                       value="{% trans 'add' %}">
            </div>
        </form>
        <form action="{% url 'blog:edit_article' article.slug %}"
              method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.title.id_for_label }}">{% trans "Title" %}<span
                        class="red">*</span></label>
                <input type="text" class="form-control"
                       id="{{ form.title.id_for_label }}"
                       placeholder="{% trans "Title" %}"
                       name="{{ form.title.name }}"
                       value="{{ form.title.value }}"
                >
            </div>
            <div class="form-group">
                <label for="{{ form.language.id_for_label }}">{% trans "Language" %}<span
                        class="red">*</span></label>
                <select class="form-control"
                        id="{{ form.language.id_for_label }}"
                        name="{{ form.language.name }}">
                    {% for item in form.language %}
                        {{ item }}
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="{{ form.description.id_for_label }}">{% trans "Description" %}<span
                        class="red">*</span></label>
                <textarea class="form-control"
                          id="{{ form.description.id_for_label }}"
                          rows="3"
                          placeholder="{% trans "Description" %}"
                          name="{{ form.description.name }}"
                >{{ form.description.value }}</textarea>
            </div>
            <div class="form-group">
                <label for="{{ form.text.id_for_label }}">{% trans "A story text" %}<span
                        class="red">*</span></label>
                <textarea class="form-control"
                          id="{{ form.text.id_for_label }}"
                          rows="10"
                          placeholder="{% trans "A story text" %}"
                          name="{{ form.text.name }}"
                >{{ form.text.value }}</textarea>
            </div>

            <div class="form-group">
                <button class="btn btn-success btn-hundred
                cursor-pointer" name="save">{% trans "save" %}</button>
            </div>
        </form>

    </div>
{% endblock %}
