{% load i18n %}
{% get_available_languages as languages %}
<!DOCTYPE html>
<html lang="{% if request.session.lang %}{{ request.session.lang }}{% else %}en{% endif %}">

<head>
    {% include 'head.html' %}
    <title>{% block base_title %}{% endblock %}</title>
</head>
<body>
<header class="header-box">
    {% include 'header.html' %}
</header>
<section>
    {% block body %}{% endblock %}
</section>
<footer class="top-line m-t-10">
    {% include "footer.html" %}
</footer>
{% include 'scripts.html' %}
</body>
</html>
