{% extends "base.html" %}
{% load i18n %}
{% get_available_languages as languages %}

{% block base_title %}
{% block title %}{% endblock %}
{% endblock %}

{% block body %}
<div class="container min-h-600">
    <div class="row">
        <div class="col-lg-2">
            {% include "users/sidebar.html" %}
        </div>
        <div class="col-lg-7">
            {% block content %}
            {% endblock %}
        </div>
        <div class="col-lg-3">
            {% include 'banner-box.html' %}
        </div>
    </div>
</div>
{% endblock %}